* {
font-family: 'Roboto', sans-serif;
}



.dice {
  font-weight: bold;
  margin: 5px;
  box-shadow: grey -1px 3px 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 60px;
  font-size: 30px;
  border-radius: 6px;
  height: 60px;
  background-color: black;
  color: #F5A623;
  cursor: pointer; 
  cursor: hand;
}

.dice-toggled {
  font-weight: bold;
  margin: 10px;
  box-shadow: grey -1px 3px 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50px;
  font-size: 30px;
  border-radius: 2px;
  height: 50px;
  background-color: #BD0FE1;
  color: #F5A623;
  cursor: pointer; 
  cursor: hand;
}
button {
  cursor: pointer; 
  cursor: hand;
}