/*#win {*/
  /*background-color: purple;*/
  /*pointer-events: none;*/

  /*overflow: hidden;
  background: transparent;
  z-index: 0;
  top: 0%;
  left: 0%; 
} */

/*.win {
  pointer-events: none; 
  z-index: 10;
  background: yellow;
}*/


/*.win {*/
   /*background-color: purple;*/
   /*pointer-events: none;*/
 /*}*/